.Card{
    width: 100%;
    max-width: 30rem;
    height: 40rem;
    background-color: var(--sec-bg-color);
    padding: 4rem 3.2rem;
    border-top: 0.2rem solid;
    color: var(--color-1);
    
}

.Card h2{
    font-size: 2rem;
    margin-bottom: 1.6rem;
}

.Card h2 a{
    text-decoration: none;
    color: var(--color-1);
}

.Card span{
    color: var(--sec-text-color-dark);
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 1.6rem;
}
.Card img{
    width: 100%;
}

